In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
header = {'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36'}

In [3]:
def soup_(url):
    page = requests.get(url, headers = header)
    soup = BeautifulSoup(page.content,'html.parser')
    soup.prettify()
    return soup

In [4]:
soup = soup_("https://www.countryzipcode.com/albania")

In [5]:
a = soup.find_all('div',{'class':'regions'})

In [6]:
b = a[0].find_all('a')

In [7]:
links = []
state = []

In [8]:
i = 0
for _ in b:
    st = _.get_text()
    li = _['href']
    state.append(st)
    links.append(li)

links, state

(['https://www.countryzipcode.com/albania/bajram_curri',
  'https://www.countryzipcode.com/albania/berat',
  'https://www.countryzipcode.com/albania/bulqize',
  'https://www.countryzipcode.com/albania/diber',
  'https://www.countryzipcode.com/albania/durres',
  'https://www.countryzipcode.com/albania/elbasan',
  'https://www.countryzipcode.com/albania/ems_office',
  'https://www.countryzipcode.com/albania/fier',
  'https://www.countryzipcode.com/albania/gjirokaster',
  'https://www.countryzipcode.com/albania/gramsh',
  'https://www.countryzipcode.com/albania/has',
  'https://www.countryzipcode.com/albania/kavaje',
  'https://www.countryzipcode.com/albania/kolonje',
  'https://www.countryzipcode.com/albania/korce',
  'https://www.countryzipcode.com/albania/kruje',
  'https://www.countryzipcode.com/albania/kucove',
  'https://www.countryzipcode.com/albania/kukes',
  'https://www.countryzipcode.com/albania/kurbin',
  'https://www.countryzipcode.com/albania/lezhe',
  'https://www.countryzipcode.com/albania/librazhd',
  'https://www.countryzipcode.com/albania/lushnje',
  'https://www.countryzipcode.com/albania/malesi_e_madhe',
  'https://www.countryzipcode.com/albania/mat',
  'https://www.countryzipcode.com/albania/mirdite',
  'https://www.countryzipcode.com/albania/peqin',
  'https://www.countryzipcode.com/albania/permet',
  'https://www.countryzipcode.com/albania/pogradec',
  'https://www.countryzipcode.com/albania/puke',
  'https://www.countryzipcode.com/albania/sarande',
  'https://www.countryzipcode.com/albania/shkoder',
  'https://www.countryzipcode.com/albania/skrapar',
  'https://www.countryzipcode.com/albania/tepelene',
  'https://www.countryzipcode.com/albania/tirane',
  'https://www.countryzipcode.com/albania/transit',
  'https://www.countryzipcode.com/albania/tropoje',
  'https://www.countryzipcode.com/albania/vlore'],
 ['Bajram Curri',
  'Berat',
  'Bulqize',
  'Diber',
  'Durres',
  'Elbasan',
  'Ems Office',
  'Fier',
  'Gjirokaster',
  'Gramsh',
  'Has',
  'Kavaje',
  'Kolonje(Erseke)',
  'Korce',
  'Kruje',
  'Kucove',
  'Kukes',
  'Kurbin(Lac)',
  'Lezhe',
  'Librazhd',
  'Lushnje',
  'Malesi E Madhe',
  'Mat',
  'Mirdite',
  'Peqin',
  'Permet',
  'Pogradec',
  'Puke',
  'Sarande',
  'Shkoder',
  'Skrapar',
  'Tepelene',
  'Tirane',
  'Transit',
  'Tropoje',
  'Vlore'])

In [9]:
zipcode = []
states = []
city = []
for i in range(len(links)):
    soup = soup_(links[i])
    a = soup.find_all('div',{'class':'regions'})
    b = a[0].find_all('a')
    for _ in b:
        st = _.get_text()
        data = st.split(' - ')
        zipcode.append(data[0])
        city.append(data[1])
        states.append(state[i])

In [10]:
df = pd.DataFrame({
    'state': states,
    'city': city,
    'zipcode': zipcode
})
df

            state          city zipcode
0    Bajram Curri        Qender    8701
1    Bajram Curri  Bajram Curri    8702
2    Bajram Curri       Tropoje    8703
3    Bajram Curri        Fierze    8704
4    Bajram Curri           Pac    8705
..            ...           ...     ...
513         Vlore        Babice    9423
514         Vlore      Mesaplik    9424
515         Vlore        Himare    9425
516         Vlore        Orikum    9426
517         Vlore      Selenice    9427

[518 rows x 3 columns]

In [11]:
df.set_index('state', inplace = True)
df.sort_index(inplace = True)

In [13]:
df.drop_duplicates(keep="first", inplace = True)

In [15]:
df.to_csv("Albania.csv")